
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <div class="header-dropdown">
                    <a href="#">Usd</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="#">Eur</a></li>
                            <li><a href="#">Usd</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropdown -->

                <div class="header-dropdown">
                    <a href="#">Eng</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                            <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist </a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li>   <a href="/user/logout">Log out</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle sticky-header  bg-light">
        <div class="container pt-0 pb-0">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="index.html" class="">
                    <img src="/images/demos/demo-4/logo.png" alt="Molla Logo" width="105" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                      <li >
                        <a href="/user/" class="">Home</a>
                      </li>
        
                      <li class="megamenu-container active">
                        <a href="/user/productpage" class="">Product</a>
                      </li>
                      <li>
                        <a href="#" class="sf-with-ul">Pages</a>
        
                        <ul>
                          <li>
                            <a href="/user/about" class="">About</a>
                          </li>
                          <li>
                            <a href="/user/contact" class="">Contact</a>
                          </li>
                          <!-- <li><a href="login.html">Login</a></li> -->
                          <li><a href="/user/faq">FAQs</a></li>
                          <li><a href="/user/error">Error 404</a></li>
                          <li><a href="/user/Myaccount">My account</a></li>
                          <!-- <li><a href="coming-soon.html">Coming Soon</a></li> -->
                        </ul>
                      </li>
                    </ul>
                    <!-- End .menu -->
                  </nav>
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="dropdown cart-dropdown">
                    <a href="/wishlist/" class="dropdown-toggle" >  
                        <i class="icon-heart-o"></i>
    
                    </a>
                  </div>
                  
                <div class="dropdown cart-dropdown">
                    <a href="/api/cart" class="dropdown-toggle" >
                        <i class="icon-shopping-cart"></i>
                    </a>
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->